body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #1baba68a;
    margin: 0;
    padding: 0;
}

#contiene {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#encuesta {
    font-family: 'Charmonman', cursive;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    color: #666;
    text-align: center;
    margin-bottom: 30px;
}

form ul {
    list-style-type: none;
    padding: 0;
}

form ul li {
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="button"] {
    background-color: #36d3ae9d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #33d6a8;
}

#total, #comentario {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

iframe {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


header {
    background-color: #73d1ce8a;
    display: flex;
    flex-direction: column; /* Para apilar elementos verticalmente */
    align-items: center; /* Para centrar horizontalmente */
    padding: 10px 20px;
    position: relative; /* Ajuste de posición */
    z-index: 2; /* Ajuste de índice z */
  }
  /* Estilos  de la lista de navegacion */
  .logo img {
    height: 40px; /* Ajusta el tamaño del logo según tu necesidad */
  }
  
  h1 {
    margin-top: 1vw; /* Espacio encima del título */
    color: white;
} 

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Cambio a flexbox */
    justify-content: center; /* Para centrar los elementos */
}

  nav ul li {
    display: inline-block;
    margin-left: 20px;
    position: relative; /* Para las subsecciones */
  }
  
  nav ul li a {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
      text-decoration: none;
      color: black;
      padding: 5px 10px;
  }
  
  nav ul li a:hover {
    color: aqua;
  }
  
  .submenu {
    display: none;
    position: absolute;
    background-color:  #7ad1ce;
    top: 100%;
    left: 0;
    padding: 10px;
    z-index: 1; /* Ajuste de índice z */
  }
  
  .submenu a {
    color: white; /* Color de la letra para las subsecciones */
  }
  
  .submenu li {
    margin: 5px 0;
}

.has-submenu:hover .submenu {
    display: block;
}

.sidebar-btn {
    font-size: 20px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    display: none;
    border-radius: 1vw;
    border-color: aqua;
    position: relative; /* Ajuste de posición */
    z-index: 2; /* Ajuste de índice z */
}

  /* Estilos para pantallas pequeñas */
    @media screen and (max-width: 800px) {
    nav ul {
        display: none;
        position: absolute;
        /*top: 50px;  Ajusta según el tamaño de tu barra de navegación */
        left: 0;
        background-color: #7ad1ce;
        width: 100%;
        text-align: center;
      z-index: 1; /* Para que esté por encima del botón del sidebar */
    }

    nav ul.show {
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .has-submenu {
        position: static;
    }

    .submenu {
        position: static;
        display: block;
        background-color: transparent;
    }

    .sidebar-btn {
      display: block; /* Muestra el botón en pantallas pequeñas */
      position: absolute; /* Ajuste de posición */
      top: 10px; /* Ajuste de posición */
      right: 20px; /* Ajuste de posición */
    }
}
