
body {
    background-color: #f0f5f9; 
}

#cajaformulario {
    float: left;
    padding: 20px;
    border: 1px solid #4d92c2; 
    background-color: #d9edf7; 
    margin: 2em;
    border-radius: 5%;
}

#cajadatos {
    float: left;
    width: 400px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid #4d92c2; 
    background-color: #d9edf7; 
    border-radius: 15%;
}

#clave, #texto {
    width: 200px;
    width: 200px;
    height: 50px;
    background-color: #99bae49f;;
    border-radius: 5px;
}

#cajadatos > div {
    padding: 5px;
    border-bottom: 1px solid #4d92c2; 
    
}



#grabar, #eliminar{
    background-color: #4d92c2;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: large;
    color: white;
}