/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* Estilos paar hover de la lista de navegacion */
nav ul {
  margin-top: 3rem;
  list-style-type: none;
  gap: 1rem;
  display: flex;
}

button {
padding: 0.8em 1.8em;
border: 2px solid #17C3B2;
position: relative;
overflow: hidden;
background-color: transparent;
text-align: center;
text-transform: uppercase;
font-size: 16px;
transition: .3s;
z-index: 1;
font-family: inherit;
color: #17C3B2;
}

button::before {
content: '';
width: 0;
height: 300%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) rotate(45deg);
background: #17C3B2;
transition: .5s ease;
display: block;
z-index: -1;
}

button:hover::before {
 width: 105%;
}

button:hover {
 color: #111;
}

/* Fin de Estilos paar hover de la lista de navegacion */

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
}

h2 {
  color: #333;
}

article {
  margin-bottom: 20px;
}

.cont_impacto{
  background-color: aquamarine;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
}

.inflsociedad{
  background-color: #333;
  display: flex;
  position: relative;
  max-width: 100%;
}

.videox{
  flex-grow: 1;
  max-width: 100%;
  height: auto;
  padding: 1rem;
  background-color: beige;
  margin: 0 auto;
}

.vidtext{
  flex-grow: 1;
  display: flex;
  padding: 10px 20px;
  background-color: rebeccapurple;
  line-height: 1.5rem;
  margin: 0 auto ;
  max-width: 100%;
  height: auto;
  
}

@media (max-width: 600px) {
  .inflsociedad {
    flex-direction: column;
    word-wrap: break-word;
  }
  
  .videox, .vidtext {
    width: 100%;
    padding: 0 0 10px 10px;
    margin: 0;
  }

  .vidtext{
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 100%;
  }

  iframe{
    max-width: 100%;
    height: auto;
  }
}


footer {
  
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.contenedor-padre {
    display: flex;
    
  }
  
  .contenedor1 {
    width: 25%; /* Ancho del primer contenedor */
    margin-right: 5px; /* Espacio entre los contenedores */
  }
  
  .contenedor2 {
    width: 75%; /* Ancho del segundo contenedor */
  }
  .contenido1
  {
    width :55%;
  }
.contenido2 {
    padding: 10px;
  width: 45%;

}
  
  .objetivos h1{
    font: 100%;

  }
  .objetivos {
    justify-content: space-between; /* Distribuye los elementos uniformemente a lo largo del contenedor */
    display: flex;
  }
  
  .columna {
    width: 50%; /* Ancho de cada columna */
    padding: 10px; /* Espacio interno de cada columna */
    margin: 0; /* Elimina el margen */

  }